.post-header {
  margin-bottom: 10px;
}

.post-title {
  font-weight: 400;
  font-size: 24px;
  font-family: serif;
  margin: 0;
}

.post-time {
  font-size: 15px;
  color: #8a8a8a;
}

.post-summary {
  margin-bottom: 20px;
  font-size: 16px;
}

#page-nav {
  display: flex;
}

#prev-page {
  font-size: 25px;
  margin-right: auto;
}

#next-page {
  font-size: 25px;
  margin-left: auto;
}
