<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title is defined %}
    <title>{{ title ~ " - " ~ metadata.title | safe }}</title>
    {% else %}
    <title>{{ metadata.title | safe }}</title>
    {% endif %}
    {% if summary is defined %}
    <meta name="description" content="{{ summary | safe }}">
    {% else %}
    <meta name="description" content="{{ metadata.description | safe }}">
    {% endif %}
    <link rel="alternate" href="{{ metadata.feedurl }}" type="application/atom+xml" title="{{ metadata.title | safe }}">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/post-list.css">
    <link rel="stylesheet" href="/css/post-content.css">
    <link rel="stylesheet" href="/css/prism.css">
    <link rel="icon" href="data:,">
  </head>
  <body>
    <div id="container">
      <div id="header">
        <h1 id="title"><a href="{{ '/' }}">{{ metadata.title | safe }}</a></h1>
        <div id="nav">
        {% for item in metadata.nav -%}
          <a class="hover-bg" href="{{ item.url }}">{{ item.name }}</a>
        {% endfor -%}
        </div>
      </div>

      <div id="main">
        {{ content | safe }}
      </div>

      <div id="footer">
        <div class="links">
          <a class="hover-bg" href="{{ metadata.links.github}}">Github</a>
          <a class="hover-bg" href="{{ metadata.feedurl }}">Rss</a>
        </div>
        <div id="copyright">
          Powered by <a href="https://www.11ty.dev/">Eleventy</a>
        </div>
      </div>
    </div>
  </body>
</html>
