---
layout: base.njk
---

<div class="post-content">
  {{ content | safe }}
  {% if contact != false -%}
  <p>Want to leave a comment? Please <a href="/about-me">email</a> me</p>
  {% endif -%}
</div>
